#header-logo{
    height: 60px;
    width: 60px;
}
<<<<<<< HEAD
.header-div{
    background-color: rosybrown;
}
.footer-div{
    background-color: rosybrown;
    margin-bottom: 0px;
}
.social-media-logo{
    height: 20px;
    width: 22px;
}
body{
    margin: 0%; 
    background-color: #e0e0e0;
=======
.social-media-logo{
    height: 20px;
    width: 22px;
>>>>>>> b3fcf207654dc1f5935fe8c89a5995ab2e4dee59
}