/* Main Container Section */
.content-div{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    max-height: 450px;
}
section{
    height: 1000px;
}


/* Hotel Image and Carousel Section */
.hotel-image{
    height: 400px;
    width: 500px;
    margin: 2%;
}
.image-div{
    width: 75%;
    border: 1px solid black;
}
.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#arrow{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#middle{
    width: 50%;
}



/* Form Section */
.form-div{
    width: 25%;
    padding: 20px;
    border: 1px solid black;
    border-left: 0px;
}
.form-div input{
    width: 60%;
    align-self: flex-end;
}
.forminput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}
#btn-booknow{
    height: 35px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
#btn-booknow-div{
    display: flex;
    justify-content: center;
}



/* Description Section */
h5{
    font-family: cursive;
}
.checked{
    color: orange;
}
.hotel-description-div{
    margin: 1% 4% 7% 4%;
}


/* Media Query */
@media screen and (max-width: 1150px) {
    .forminput{
        padding: 10px;
    }
    #middle{
        width: 100%;
    }
    .content-div{
        margin-top: 10%;
    }   
}
@media screen and (max-width: 1000px) {
    #arrow{
        width: 5%;
    }
    #middle{
        width: 90%
    }
    .content-div{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        max-height: fit-content;
    }
    .form-div{
        border: 1px solid black;
        border-top: 0px;
    }
    .form-div, .image-div{
        width: 100%;
    }
    .hotel-image{
        width: 770px;
    }
}
@media screen and (max-width: 576px) {
    .hotel-image{
        width: 100%;
    }
}