.city-image{
    height: 150px;
    width: 150px;
    border-radius: 10%;    
}
.city-image-div{
    padding: 4%;
    
}
#searchbar-input{
    display: block;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid transparent;
    width: 50%;
}
.search-bar-and-background-image-div{
    padding: 15%;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.city-cards-div{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-evenly;
}
#view-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-div{
    margin-top: 64px;
    margin-bottom: 100px;
}
@media screen and (max-width: 750px){
    .city-cards-div{
        flex-wrap: wrap;
    }
}