.hotel-image{
    width: 40%;
}
.content-div{
    margin: 5% 2%;
}
.hotel-image-description-div{
    background-color: lightgray;
    width: 100%;
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.map-div{
    display: none;
}
li{
    padding: 2%;
}
#hotel-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0% 3%;
    row-gap: 50px;
    column-gap: 10vw;
}
